copilit-agent/Workflows/GetPersonas-A7F2A8E3-FC21-F011-9989-6045BD018E81.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": " "
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": " ",
              "table": "a3852ec9-cbe3-4366-aae7-bd6bb274947b",
              "$orderby": "Title",
              "$top": 100
            },
            "host": {
              "apiId": " ",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {}
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Body",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          }
        },
        "Select": {
          "type": "Select",
          "inputs": {
            "from": "@outputs('Get_items')?['body/value']",
            "select": {
              "title": "@{item()?['Title']}",
              "value": "@{item()?['ID']}",
              "description": "@{item()?['Description']}",   // persona description
              "role": "@{item()?['Role']}",                 // persona role
              "avatar": "@{item()?['AvatarUrl']}"           // persona avatar image
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Card": {
          "type": "Compose",
          "inputs": {
            "type": "AdaptiveCard",
            "body": [
              {
                "type": "TextBlock",
                "text": "**Choose Your Persona**",
                "size": "Large",
                "weight": "Bolder",
                "wrap": true,
                "separator": true
              },
              {
                "type": "TextBlock",
                "text": "Each persona comes with a role and abilities. Pick wisely!",
                "wrap": true,
                "spacing": "Small"
              },
              {
                "type": "Input.ChoiceSet",
                "id": "selectedPersona",
                "style": "expanded",
                "choices": "@outputs('Select')"
              }
            ],
            "actions": [
              {
                "type": "Action.Submit",
                "title": "Submit"
              }
            ],
            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
            "version": "1.6"
          },
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          }
        },
        "Compose": {
          "type": "Compose",
          "inputs": {
            "adaptiveCard": "@outputs('Card')"
          },
          "runAfter": {
            "Card": [
              "Succeeded"
            ]
          }
        },
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "choices": "@outputs('Select')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string"
                      },
                      "avatar": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          }
        },
        "Health_Check": {
          "type": "Scope",
          "actions": {
            "Failure_Notice": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500,
                "body": {
                  "error": "Could not load personas. Please try again later."
                }
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Failed",
              "TimedOut"
            ]
          }
        }
      },
      "outputs": {},
      "description": "This flow retrieves personas from SharePoint, builds an Adaptive Card with metadata, and includes health checks for reliability."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
